h1 {
    text-align: center;
    padding: 20px 20px;
    font-size: 70px;
}

h2 {
    text-align: center;
    padding: 20px 10px;
    font-size: 50px;
}

h3 {
    padding: 20px;
}

h4 {
    text-align: center;
    font-size: 25px;
}